@use 'reset';
@use '../components/UI/Login/login';
@use 'create-user';
@use "../components/UI/Header/header";
@use "../components/UI/SideNav/side-nav";
@use "../components/UI/FeaturedMedia/featured-media";
@use "../components/UI/CastInfo/cast-info";
@use "../components/UI/Account/account";
@use "../components/UI/SearchModal/search-modal";
@use "../components/UI/MediaRow/media-row";
@use "../components/UI/GenreNav/genre-nav";
@use "../components/UI/UserImg/user-img";


h1 {
  font-size: 3rem;
}

html,
body {
  background: white;
}

.purpleBg {
  background: rgb(26, 39, 103);
  background: linear-gradient(312deg, rgba(26, 39, 103, 1)0%, rgba(48, 20, 94, 1) 45%, rgba(0, 0, 0, 1) 100%);

  * {
    .featured-media__bg {
      background: rgb(26, 39, 103);
      background: linear-gradient(312deg, rgba(26, 39, 103, 1)0%, rgba(48, 20, 94, 1) 45%, rgba(0, 0, 0, 1) 100%);
    }

    .top-header__user-img {
      border: 3px solid rgba(48, 20, 94, 1);
    }

    .search-modal__input {
      border-bottom: 3px solid rgba(48, 20, 94, 1);
    }
  }
}

.greenBg {
  background: rgb(5, 44, 0);
  background: linear-gradient(135deg, rgba(5, 44, 0, 1) 16%, rgba(0, 255, 5, 1) 100%);

  * {
    .featured-media__bg {
      background: rgb(5, 44, 0);
      background: linear-gradient(135deg, rgba(5, 44, 0, 1) 16%, rgba(0, 255, 5, 1) 100%);
    }

    .top-header__user-img {
      border: 3px solid rgba(0, 255, 5, 1);
    }

    .search-modal__input {
      border-bottom: 3px solid rgba(0, 255, 5, 1);
    }
  }
}

.redBg {
  background: rgb(45, 1, 1);
  background: linear-gradient(135deg, rgba(45, 1, 1, 1) 16%, rgba(255, 28, 0, 1) 100%);

  * {
    .featured-media__bg {
      background: rgb(45, 1, 1);
      background: linear-gradient(135deg, rgba(45, 1, 1, 1) 16%, rgba(255, 28, 0, 1) 100%);
    }

    .top-header__user-img {
      border: 3px solid rgba(255, 28, 0, 1);
    }

    .search-modal__input {
      border-bottom: 3px solid rgba(255, 28, 0, 1);
    }
  }
}

.blueBg {
  background: rgb(17, 83, 48);
  background: linear-gradient(135deg, rgba(17, 83, 48, 1) 16%, rgba(10, 215, 185, 1) 100%);

  * {
    .featured-media__bg {
      background: rgb(17, 83, 48);
      background: linear-gradient(135deg, rgba(17, 83, 48, 1) 16%, rgba(10, 215, 185, 1) 100%);
    }

    .top-header__user-img {
      border: 3px solid rgba(10, 215, 185, 1);
    }

    .search-modal__input {
      border-bottom: 3px solid rgba(10, 215, 185, 1);
    }
  }
}

.orangeBg {
  background: rgb(182, 43, 2);
  background: linear-gradient(135deg, rgba(182, 43, 2, 1) 16%, rgba(213, 215, 10, 1) 100%);

  * {
    .featured-media__bg {
      background: rgb(182, 43, 2);
      background: linear-gradient(135deg, rgba(182, 43, 2, 1) 16%, rgba(213, 215, 10, 1) 100%);
    }

    .top-header__user-img {
      border: 3px solid rgba(213, 215, 10, 1);
    }

    .search-modal__input {
      border-bottom: 3px solid rgba(213, 215, 10, 1);
    }
  }
}

.hide-comp {
  display: none;
}